.cuerpo{
    background-image: url(FondoPP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
        }

.cuadrotexto{
        width: 80%;
        max-width: 600px;
        padding: 20px;
        background-color: #04869c38;
        border: 1px solid #04869c38;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: auto;
    }
    
