.cuerpo {
    background-image: url(FondoPP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
    padding: 0;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


.cuadrotexto {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #4c666b70;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 2, 0.1);
    text-align: center;
    animation: slideIn 0.5s ease-out;
    transition: transform 0.3s ease; 
}


@media (max-width: 768px) {
    .cuadrotexto {
        width: 100%; 
        padding: 15px;
        font-size: 0.9rem; 
    }

    .cuerpo {
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .cuadrotexto {
        font-size: 0.8rem; 
        padding: 10px;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.loading-element {
    animation: slideIn 0.5s ease-out;
}
